<div class="container">
  <p>Welcome to the admin dashboard. Please review the submitted brands:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <td><%= link_to brand.name, brand_submission_path(brand.id) %></td>
          <td class="text-<%= display_status(brand.status) %>"><%= brand.status %></td>
          <td><%= render 'shared/approval_btn', brand: brand %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
