<div class="container admin">
  <%= render 'shared/brand', brand: @brand, full_description: false %>
  <hr/>
  <p><strong><%= @status.capitalize %></strong></p>
  <%= render 'shared/approval_btn', brand: @brand %>
</div>
