<% unless brand.status == 'approved' %>
  <%= form_tag brand_approval_path(brand.id), method: :put, class: 'pull-left approve-btn'  do %>
    <%= button_tag "Approve", class: 'btn' %>
  <% end %>
<% end %>
<% unless brand.status == 'rejected' %>
  <%= form_tag brand_rejection_path(brand.id), method: :put, class: 'pull-left'  do %>
    <%= button_tag "Reject", class: 'btn' %>
  <% end %>
<% end %>
