<div class="brand">
  <div class="row">
    <div class="span4">
      <h3><%= brand.name %></h3>
      <div>
        <% brand.categories.each do |category| %>
          <span class="badge badge-inverse category-badge pull-right">
            <%= category %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="span8 brand-right">
      <% brand.countries.each do |country| %> 
        <div class='country-label span2'><span class="small">Made in</span><br><%= country %></div>
      <% end %>
      <div class="clearfix"></div>
      <div>
        <blockquote>
          <p class="brand-description"><%= brand.description %></p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <%= link_to 'Full description', "/brands/#{brand.id}" if full_description%> 
    <%= ' | ' if full_description && brand.url.present? %>
    <%= link_to 'Website', brand.url if brand.url.present? %>
  </div>
  <div class="clearfix"></div>
</div>
