<header id="overview">
  <div class="container">
    <h1>Where Is It Made ?</h1>
    <p class="lead">Find out where your favourite products are made</p>
    <%= form_tag :root, method: :get, class: 'form-search' do %>
      <%= text_field_tag 'query', params['query'], id: 'search-form', class: 'search-query' %>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>
  </div>
</header>
<div class="home-separator"></div>
<div class="container" id="brands">
  <% @approved_brands.each do |brand| %>
    <%= render 'shared/brand', brand: brand, full_description: true %>
    <% unless brand == @approved_brands.to_a.last %>
      <hr/>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>
