#brand-submission-container {
  padding-top: 30px;
  #country-chooser, #category-chooser {
    input {
      height: 25px;
    }
  }

  #description-field {
    width: 100%;
  }

  .form-spacer {
    height: 20px;
    clear: both;
  }

  .multiple-choice-container {
    width: 100%;
    select {
      width: 100%;
    }

    .chzn-container .chzn-choices {
      border: 1px solid #CCCCCC;
      border-radius: 4px 4px 4px 4px;
      background-image: none;
      font-size: 14px;
      padding: 4px 6px;
      width:100%;
        li.search-choice {
          border-radius: 4px 4px 4px 4px;
          line-height: 20px;
          background-color: #F5F5F5;
          background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
          border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
        }
    }
  }
}
