// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: "Stardos Stencil";
    font-style: normal;
    font-weight: 700;
    src: local("Stardos Stencil Bold"), local("StardosStencil-Bold"), url("StardosStencil.woff") format("woff");
}

.alert.alert-success {
  margin-bottom: 0px;
  .container {
    text-align: center;
  }
}

#overview {
  color: #5A5A5A;
  padding-top: 100px;
  background: url(portolan.jpg) no-repeat center center scroll; 
  background-size: 100%;
  height: 300px;
  text-align: center;
  h1 {
    font-size: 100px;
    margin-bottom: 70px;
  }

  p {
    font-size: 30px;
    margin-bottom: 30px;
  }

  input[type="text"]{
    width: 400px;
  }
}

.home-separator {
  width: 100%;
  height: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  padding: 15px 0;
  margin-bottom: 20px;
}

.brand {
  h3 {
    text-align: right;
    font-weight: 500;
  }
  .country-label {
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
    .small {
      font-size: 14px;
    }
  }
  .brand-right {
    padding-top: 10px;
  }
  .category-badge {
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px 8px 0;
  }
  .brand-description {
    text-indent: 2em;
    text-align: justify;
  }
}
