<div id="<%= attribute %>-chooser" class="multiple-choice-container">
  <select class="chzn-select" data-placeholder="Choose one or more <%= attribute.pluralize %>" style="dislay:none" multiple="" name="<%= attribute.pluralize %>[]">
    <% attribute.capitalize.constantize.all.map(&:name).each do |value| %>
      <option value="<%= value %>"><%= value %></option>
    <% end %>
  </select>
</div>
<div class="clearfix"></div>
