<div class="container" id="brand-submission-container">
  <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Sorry, we could not create a new brand because :
      <ul>
        <% flash[:error].full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      Please correct these fields and submit again!
    </div>
  <% end %>
  <%= form_for @brand, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>1. Which brand are you submitting?</legend>
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :url, 'Website', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :url %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>2. Tell us a bit more about what it is and what it makes</legend>
      <%= f.text_area :description, placeholder: 'Enter a description ...', id: 'description-field', rows: 5 %>
      <div class="form-spacer"></div>
      <%= render 'multiple_options_select', attribute: 'category' %>
    </fieldset>

    <fieldset>
      <legend>3. Tell us where it is made!</legend>
      <%= render 'multiple_options_select', attribute: 'country' %>
    </fieldset>
    <div class="form-spacer"></div>


    <%= f.submit 'Submit!', class: 'btn' %>
  <% end %>
</div>
