<!DOCTYPE html>
<html>
  <head>
    <title>Wiim</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= render 'shared/ga' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Where is it made ?</a>
          <ul class="nav">
            <li><a href="<%= new_brand_path %>">Submit a new brand </a></li>
          </ul>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <div class="container"><%= flash[:notice] %></div>
      </div>
    <% end %>

    <%= yield %>
      
    <hr/>
    <footer>
      <div class="container">
        <ul class="footer-links pull-left">
          <li><a href='<%= brands_submissions_path %>'>Admin</a></li>
        </ul>
        <ul class="footer-links pull-right">
          <li><a href="#">How it works</a></li>
          <li class="muted">·</li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
